<p id="notice"><%= notice %></p>
<%= stylesheet_link_tag 'application'%>
<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card  text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">
            <div class="mb-md-5 mt-md-4 pb-5">

<p>
  <strong>Invoicemonth:</strong>
  <%= @invoice_history.invoiceMonth %>
</p>

<p>
  <strong>Invoivenumber:</strong>
  <%= @invoice_history.invoiveNumber %>
</p>

<p>
  <strong>Invoiceamount:</strong>
  <%= @invoice_history.invoiceAmount %>
</p>

<p>
  <strong>Paid:</strong>
  <%= @invoice_history.Paid %>
</p>

<%= link_to 'Edit', edit_invoice_history_path(@invoice_history),class:"btn btn-outline-light btn-lg px-5" %> 
<%= link_to 'Back', invoice_histories_path,class:"btn btn-outline-light btn-lg px-5" %>
