<%= form_with(model: customer_detail) do |form| %>
  <% if customer_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer_detail.errors.count, "error") %> prohibited this customer_detail from being saved:</h2>

      <ul>
        <% customer_detail.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :CustomerName %>
    <%= form.text_field :CustomerName ,:required => true %>
  </div>

  <div class="field">
    <%= form.label :POC %>
    <%= form.text_field :POC,:required => true %>
  </div>

  <div class="field">
    <%= form.label :BillingAddress %>
    <%= form.text_field :BillingAddress,:required => true %>
  </div>

  <div class="field">
    <%= form.label :InstallationAddress %>
    <%= form.text_field :InstallationAddress,:required => true %>
  </div>

  <div class="field">
    <%= form.label :AttendentContact %>
    <%= form.text_field :AttendentContact,:required => true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
